//SCSS Variables and other SCSS that can be reused
@import "index";
//Components (Nav and other Sections that are component dependant)
@import "./components/index";

.input-group {
  margin: 20px 0;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}
td:first-of-type {
  height: 200px;
  width: 250px;
}
